# Tooling files
.vscode/
.idea/
.mypy_cache/
.python-version

# Generated python files
**/*.egg-info/
**/*.pyc
**/__pycache__/

# Build artifacts
/build/
/dist/
/public/

# API key
api_key.txt

# Example outputs
f16.jpeg
nonlinear.jpeg
autotrans.jpeg
Autotrans_shift.slxc
examples/slprj/
